.head {
    width: 100%;
    text-align: center;
    border-radius: 25px;
    box-shadow: none;
    img {
        width: 18%;
        height: 31px;
        margin-top: 1%;
        border: none;
        -moz-border-radius : 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    ion-item {
        ion-icon {
            color: red;
            width: 20%;
            height: 20px;
            margin-left: 12%;
        }
        ion-label {
            font-size: 15px;
            margin-right: %;
        }
    }
}

.inner {
    width: 50%;
    height: 2px;
    border-bottom: 3px solid #06ADF3;
    margin-left: 30%;
}

ion-list {
    
}

// ion-text {
//     margin-top: 63%;
//     ion-card {
//         margin-top: 2%;
//         height: 120px;
//         ion-label {
//             margin-left: 2%;
//             ion-icon {
//                 color: orangered;
//             }
//         }
       
        
//     }
// }

ion-card {
    ion-item {
        margin-left: 27%;
    }
}

.innerss {
    width: 170%;
    height: 2px;
    margin-right: 15%;
    border-bottom: 1px solid black;
}

.calcul {
    margin-top: 12%;
    ion-label {
        color: grey;
        font-size: 20px;
    }
}

.suivants {
    button {
        margin-left: 35%;
        margin-top: 9%;
        width: 60%;
        font-size: 18px;
        color: rgb(253, 252, 251);
        background: rgb(230, 70, 13);
        height: 30px;
        border-radius: 17px;
    }
}