ion-card {
    text-align: center;
    border-radius: 25px;
    height: 250px;
    box-shadow: none;
    img {
      width: 42%;
      height: 90px;
      margin-top: 11%;
      border: none;
      -moz-border-radius : 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }