
.head {
    width: 100%;
    text-align: center;
    border-radius: 25px;
    box-shadow: none;
    img {
        width: 18%;
        height: 31px;
        margin-top: 1%;
        border: none;
        -moz-border-radius : 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
}
  ion-text {
    margin-top: 63%;
      
    ion-card {
        margin-top: 2%;
        height: 120px;

    }

   
}

.inner {
    width: 35%;
    height: 2px;
    border-bottom: 3px solid #06ADF3;
    margin-left: 30%;
}

ion-card {
    ion-item {
        margin-left: 27%;

    }
}
.icon-depot {
    font-size: 25%;
}

.segmentation {
    margin-top: 8%;
    ion-card {
        height: 48px;
        border-radius: 20px;
        ion-segment-button {
            width: 50%;
            height: 21px;
            background: rgb(243, 241, 241);
            color: black;
        }
    }   
}

.emetteurs {
    margin-left: 9%;   
}

.benefice {
    margin-left: 9%; 
}

ion-item {
    width: 100%;
    ion-label {
        color: grey;
        }
        ion-input {
            margin-left: 3%; 
        }
}
.suivant {
    margin-left: 25%;
    text-align: center;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    margin-top: 2%;
}

.suivants {
    margin-left: 25%;
    text-align: center;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    margin-top: 62%;
}
.innerss {
    width: 170%;
    height: 2px;
    margin-right: 15%;
    border-bottom: 1px solid black;
}

.fraiss {
    margin-left: 50%;
    ion-item {
       ion-label {
       }
       ion-input {
        width: 50%;
        }
    }
}