
  

<ion-content>
 <div class="head">
    <ion-card-header>
      <img src="./.././../assets/images/MoneySA.jpeg" alt="">
    </ion-card-header> 
      <ion-text color="secondary">
      <ion-card>
        <ion-item>
          <ion-icon color="danger" name="return-up-forward-outline"></ion-icon>      
          <ion-label>Dépôt</ion-label>
        </ion-item>
      <div class="inner"></div>
      </ion-card>
    </ion-text>
 </div>

 <div class="segmentation">
   <ion-card>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selecTabs" >
        <ion-segment-button value="all">
          <ion-label>Emetteur</ion-label>
        </ion-segment-button>
        <ion-segment-button value="beneficiaire">
          <ion-label>Bénéficiaire</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
   </ion-card>

   <div *ngIf="selecTabs == 'emetteur'">
    <form>
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea ></ion-textarea>
      </ion-item>
      <button ion-button type="submit" >Submit</button>
    </form>
   </div>

   <div *ngIf="selecTabs == 'beneficiaire'">
    <h3>Recepteur</h3>
  </div>
   
 </div>
</ion-content>
