
.bg-image {
  background-image: url(../assets/images/LogoMoneySA.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.no-scroll .scroll-content {
  overflow: hidden;
}