ion-content {

}
ion-card {
    text-align: center;
    border-radius: 25px;
    height: 250px;
    box-shadow: none;
    img {
      width: 42%;
      height: 90px;
      margin-top: 11%;
      border: none;
      -moz-border-radius : 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }

  ion-text {
      
      margin-bottom: 2%;
      ion-card {
          margin-top: 9;
      }
      h1 {
        color: black;
        font-size: 17px;
        font-weight: bold;
      }
  }
  ion-label {
    color: rgb(92, 90, 90);
}

ion-card-header {
    width: 100%;
    height: 150px;
    margin-top: 12%;
}

ion-item {
    color: lightslategray;
}

ion-col {
    margin-top: 0%;
    flo
    ion-router-link {
    }
}
