
.img-container {
    width: 100%;
}

ion-card {
    text-align: center;
    background: transparent;
    box-shadow: none;
    img {
      width: 170px;
      height: 190px;
      border: none;
      -moz-border-radius : 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
    }
    ion-card-tittle {
      font-size: 20px;
      color: #D2EDDD;
      font-weight: 400; 
    }
  }