ionic-content {
    margin-bottom: 5%;
} 
ion-card {
    
    ion-item {
        color: #06ADF3;
        font-size: 30px;
    margin-top: 5%;

        ion-label {
            color: black;
        }
    }
}

ion-icon {
    color: #06ADF3;
    margin-top: 8%;
    
}