ionic-content {
} 
ion-card {
    margin-top: 0%;
    
    ion-item {
        color: #06ADF3;

        ion-label {
            color: black;
        }
    }
}
ion-grid {
    height: 80px;
    border-radius: 20px;
    ion-row {
        margin-top: 0%;
    }
    ion-icon {
        color: #06ADF3;
        height: 50px;
        width: 20px;
        margin-top: 4%;
        margin-left: 16%;
    }
}
ion-col { 
    font-size: 10px;
    color: black;
    
}

.solde {
    ion-col {
        color: #06ADF3;
        font-size: 25px;
    }
}

ion-title {
    margin-top: 19%;
    img {
        width: 40px;
        height: 40px;
        
    }
}

.contenu {
    margin-top: 35%;
    height: 80px;
}

.card-solde {
    margin-top: 15%;
}

ion-list {
    height: 20px;
}