ionic-content {
    margin-bottom: 5%;
} 
ion-card-header {
    background: red;
    margin-top: 5%;
    height: 50px;
    ion-item {
        color: #06ADF3;
        font-size: 30px;
        ion-label {
            color: black;
        }
    }
}

