ionic-content {
} 
ion-card {
    margin-top: 0%;
    
    ion-item {
        color: #06ADF3;

        ion-label {
            color: black;
        }
    }
}
ion-grid {
    height: 80px;
    border-radius: 20px;
    ion-row {
        margin-top: 0%;
        ion-icon {
            color: #06ADF3;
            height: 50px;
            width: 20px;
            margin-top: 8%;
            margin-left: 16%;
        }
    
    }
}
ion-col { 
    font-size: 10px;
    
}

.solde {
    color: red;
}

ion-title {
    img {
        width: 40px;
        height: 30px;
        
    }
}
