
<ion-content>
  <div class="head">

    <ion-text color="secondary">
      <ion-card fullwidth>
        <ion-card-header>
          <img src="./.././../assets/images/MoneySA.jpeg" alt="">
        </ion-card-header>
          <ion-grid>
            <ion-row>
                  <div class="solde">
                    <ion-icon color="danger" name="sync-outline"></ion-icon>
                    <ion-col size="9">Mes Transactions</ion-col>
                    <div class="inner"></div>
                  </div>
                  <div class="touteTrans">
                    <ion-icon color="danger" name="checkmark-circle-outline"></ion-icon>
                    <ion-col size="9">Toutes les Transactions</ion-col>
                    <div class="inner"></div>
                  </div>
            </ion-row>
          </ion-grid>
        </ion-card>
    </ion-text>
  </div>

  <table class="table">

    <tbody>
    <tr>
      <th>Date</th>
      <th>Utilisateur</th>
      <th>Type</th>
      <th>Montant</th>
      <th>Frais</th>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    </tbody>
  </table>
</ion-content>
